@model MVC.Models.DegreeRequirement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DegreeRequirement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree.DegreeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirement.RequirementID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeRequirementID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
