@model IEnumerable<MVC.Models.DegreeRequirement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by term ID: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeIDSortParm"]">@Html.DisplayNameFor(model => model.Degree)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RequirementIDSortParm"]">@Html.DisplayNameFor(model => model.Requirement)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirement.RequirementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeRequirementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeRequirementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeRequirementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
