@model IEnumerable<MVC.Models.StudentTerm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermLabel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermLabel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentTermId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentTermId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentTermId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
