@model IEnumerable<MVC.Models.Degree>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by degree Abrrevation: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeAbrrevSortParm"]">@Html.DisplayNameFor(model => model.DegreeAbrrev)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeNameSortParm"]">@Html.DisplayNameFor(model => model.DegreeName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeAbrrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
