@model MVC.Models.DegreePlanTermRequirement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DegreePlanTermRequirement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePlanID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePlanID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreePlanTermRequirementID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
