@model IEnumerable<MVC.Models.DegreePlanTermRequirement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreePlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TermId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlan.DegreePlanAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirement.RequirementAbbrev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreePlanTermRequirementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreePlanTermRequirementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreePlanTermRequirementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
